/*This file contains all styles related to the button component.*/

$button-lh: calc(2 * $lh-ratio);
$button-height: calc(1rem * $button-lh);

button, .button, .button--light {
  display: inline-block;
  background-color: $brand-color;
  color: white;
  line-height: $button-lh;
  height: $button-height;
  border-radius: $lh;
  border: 0 none;
  padding: 0 $lh;
  text-decoration: none;
  text-transform: uppercase;
}

.button--light {
  background-color: white;
  color: $dark-brand-color;
}
button:hover, .button:hover, .button--light:hover {
  background-color: $dark-brand-color;
  color: white;
}
