.control-group {
  display: flex;
  margin-bottom: $lh;
}
.control-label {
  flex: 1;
  max-width: calc(4 * $lh);
  color: $dark-brand-color;
}
.controls {
  flex: 2;
}
.control {
  width: 100%;
  max-width: calc(20 * $lh);
}
input[type=text], input[type=email], input[type=tel] {
  border-radius: calc(.25 * $lh);
  border: 1px solid $border-color;
  padding: 0 .4em;
}
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover {
  border-color: $brand-color;
}
